PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=surya
DB_NAME=learnflow

JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key

# Frontend
VITE_API_URL=https://learnflow.onrender.com/api

# Backend
CORS_ORIGIN=https://learnflow.vercel.app
